body {
    background-color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

table, td, th {
    border: black solid;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}

select {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

input[type=range] {
    cursor: pointer;
}

input[type=submit], button {
    background-color: gold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover, button:hover {
    background-color: green;
}

#loops {
    margin: 10px 0;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

#checkbox-label {
    cursor: pointer;
}

.panel {
    display: inline-block;
    vertical-align: top;
}

.maze {
    display: inline-block;
    margin: 0 auto;
    height: 800px;
    width: 800px;
    font-size: 0;
    font-weight: bold;
}

.label-center {
    vertical-align: top;
}

.cell-5 {
    display: inline-block;
    border: black solid 5px;
    height: 12%;
    width: 12%;
    font-size: xx-large;
}

.cell-10 {
    display: inline-block;
    border: black solid 4px;
    height: 8.5%;
    width: 8.5%;
    font-size: x-large;
}

.cell-15 {
    display: inline-block;
    border: black solid 3px;
    height: 5.5%;
    width: 5.5%;
    font-size: medium;
}

.cell-20 {
    display: inline-block;
    border: black solid 3px;
    height: 4%;
    width: 4%;
    font-size: small;
}

.cell-spawn {
    background-color: gold;
}

.cell-end {
    background-color: green;
}

.cell-visited-once {
    background-color: darkgrey;
}

.cell-visited-many {
    background-color: grey;
}

.cell-empty {
    background-color: white;
}

.top-empty {
    border-top-color: #00000000;
}

.bottom-empty {
    border-bottom-color: #00000000;
}

.left-empty {
    border-left-color: #00000000;
}

.right-empty {
    border-right-color: #00000000;
}