body {
    background-color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

table, td, th {
    border: black solid;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}

input[type=submit], button {
    background-color: gold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

input[type=submit]:hover, button:hover {
    background-color: green;
}

select {
    padding: 5px;
    margin: 5px;
}

.panel {
    display: inline-block;
    vertical-align: top;
}

.maze {
    display: inline-block;
    margin: 0 auto;
    height: 800px;
    width: 800px;
    font-size: 0;
}

.label-center {
    vertical-align: top;
}

.cell {
    display: inline-block;
    border: black solid 4px;
    height: 9%;
    width: 8.5%;
    font-size: medium;
}

.cell-spawn {
    background-color: gold;
}

.cell-end {
    background-color: green;
}

.cell-visited-once {
    background-color: darkgrey;
}

.cell-visited-many {
    background-color: grey;
}

.cell-empty {
    background-color: white;
}

.top-empty {
    border-top-color: #00000000;
}

.bottom-empty {
    border-bottom-color: #00000000;
}

.left-empty {
    border-left-color: #00000000;
}

.right-empty {
    border-right-color: #00000000;
}