body {
    background-color: white;
    text-align: center;
    font-family: "Georgia", serif;
}

.maze {
    margin: 0 auto;
    height: 800px;
    width: 800px;
    font-size: 0;
}

.cell {
    display: inline-block;
    border: black solid 4px;
    height: 9%;
    width: 8.5%;
    font-size: medium;
}

.cell-spawn {
    background-color: yellow;
}

.cell-end {
    background-color: green;
}

.cell-visited {
    background-color: grey;
}

.cell-empty {
    background-color: white;
}

.top-empty {
    border-top-color: #00000000;
}

.bottom-empty {
    border-bottom-color: #00000000;
}

.left-empty {
    border-left-color: #00000000;
}

.right-empty {
    border-right-color: #00000000;
}