<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Tester labiryntów</title>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="menu">
            <a href="{{ url_for('index') }}"><button{% if request.endpoint == 'index' %} class="active"{% endif %}>Strona główna</button></a>
            <a href="{{ url_for('testing') }}"><button {% if request.endpoint == 'testing' %} class="active"{% endif %}>Testowanie algorytmów</button></a>
            <a href="{{ url_for('visualisation') }}"><button {% if request.endpoint == 'visualisation' %} class="active"{% endif %}>Wizualizacja algorytmów</button></a>
            <a href="{{ url_for('info') }}"><button {% if request.endpoint == 'info' %} class="active"{% endif %}>O serwisie</button></a>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            &copy; Bernard Świątek
        </div>
    </body>
</html>