{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="panel">
        <h1>Moduł testowy</h1>
        <form action="{{ url_for('testing') }}" method="post" oninput="document.getElementById('number-of-tests').innerHTML = (document.getElementById('number-of-mazes').value * document.getElementById('number-of-solutions').value * document.getElementById('generations').selectedOptions.length * document.getElementById('ais').selectedOptions.length).toString()">
            <label for="number-of-mazes">Liczba labiryntów dla każdego algorytmu generacji:</label>
            <input type="range" id="number-of-mazes" name="number_of_mazes" min="10" max="100" step="10" oninput="this.nextSibling.innerHTML = this.value" value={{ test.number_of_mazes }}><span>{{ test.number_of_mazes }}</span><br>
            <label for="number-of-solutions">Liczba przejść pojedynczego labiryntu dla każdego algorytmu przechodzenia:</label>
            <input type="range" id="number-of-solutions" name="number_of_solutions" min="5" max="50" step="5" oninput="this.nextSibling.innerHTML = this.value" value={{ test.number_of_solutions }}><span>{{ test.number_of_solutions }}</span><br>
            <label for="size">Wielkość labiryntów:</label>
            <select id="size" name="size">
                {% for size in range(5,21,5) %}
                    <option value={{ size }} {{ 'selected' if test.size == size }}>{{ size }}x{{ size }}</option>
                {% endfor %}
            </select><br>
            <label class="label-center" for="generations">Algorytmy generacji:<br>(wybór wielokrotny - przytrzymaj CTRL)</label><br>
            <select id="generations" name="generations" size=5 multiple required>
                {% for generation in range(5) %}
                    <option value={{ generation }} {{ 'selected' if generation|string in test.generations }}>{{ names['generations'][generation] }}</option>
                {% endfor %}
            </select><br>
            <input type="checkbox" id="loops" name="loops" {{ 'checked' if test.loops }}>
            <label for="loops" class="checkbox-label">Usuń dodatkowe losowe ściany (dodaj pętle)</label><br><br>
            <label class="label-center" for="ais">Algorytm przechodzenia:<br>(wybór wielokrotny - przytrzymaj CTRL)</label><br>
            <select id="ais" name="ais" size=5 multiple required>
                {% for ai in range(5) %}
                    <option value={{ ai }} {{ 'selected' if ai|string in test.ais }}>{{ names['ais'][ai] }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Uruchom testy">
            <h3>Łączna liczba testów: <span id="number-of-tests">{{ test.number_of_mazes * test.number_of_solutions * test.generations|length * test.ais|length }}</span></h3>
        </form>
    </div>
    {% if test.results %}
        {% for generation, mazes in test.results.items() %}
            <table>
                <tbody>
                    <tr>
                        <th colspan=5>
                            <h1>{{ names['generations'][generation] }} ({{ test.size }}x{{ test.size }}, {% if test.loops %}z pętlami{% else %}bez pętli{% endif %})</h1>
                            {{ test.number_of_mazes }} labiryntów po {{ test.number_of_solutions }} przejść każdym algorytmem - łącznie {{ test.number_of_mazes * test.number_of_solutions * test.ais|length }} testów
                        </th>
                        <th>
                            <h3>algorytm generacji</h3>
                        </th>
                    </tr>
                    <tr>
                    {% for ai in test.ais %}
                        <th>
                            <h2>{{ names['ais'][ai|int] }}</h2>
                        </th>
                    {% endfor %}
                        <th colspan=5>
                            <h3>algorytm przechodzenia</h3>
                        </th>
                    </tr>
                    <tr>
                    {% for ai in test.ais %}
                        <th>
                            średnia: {{ test.stats[generation][ai|int]['avg'] }}<br>
                            mediana: {{ test.stats[generation][ai|int]['med'] }}<br>
                            max: {{ test.stats[generation][ai|int]['max'] }}<br>
                            min: {{ test.stats[generation][ai|int]['min'] }}<br>
                            suma ruchów: {{ test.stats[generation][ai|int]['moves'] }}<br>
                            liczba testów: {{ test.stats[generation][ai|int]['len'] }}
                        </th>
                    {% endfor %}
                        <th colspan=5>
                            <h3>statystyki</h3><br>
                            <button onclick="document.getElementById('dropdown{{ generation }}').classList.toggle('show-details')">Szczegółowe wyniki</button>
                        </th>
                    </tr>
                </tbody>
                <tbody id="dropdown{{ generation }}" class="hide-details">
                    <tr>
                        <th colspan=5>
                            <h3>liczba ruchów</h3>
                        </th>
                        <th>
                            <h3>labirynt</h3>
                        </th>
                    </tr>
                    {% for maze in mazes %}
                        <tr>
                        {% for solutions in maze.values() %}
                            <td>
                            {% for solution in solutions %}
                                ({{ solution }})
                            {% endfor %}
                            </td>
                        {% endfor %}
                            <th colspan=5>
                                ({{ loop.index }})
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}