{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="panel">
        <form action="{{ url_for('testing') }}" method="post" oninput="document.getElementById('number-of-tests').innerHTML = (document.getElementById('number-of-mazes').value * document.getElementById('number-of-solutions').value * document.getElementById('generations').selectedOptions.length * document.getElementById('ais').selectedOptions.length).toString()">
            <label for="number-of-mazes">Liczba labiryntów dla każdego algorytmu generacji:</label>
            <input type="range" id="number-of-mazes" name="number_of_mazes" min="5" max="50" step="5" oninput="this.nextSibling.innerHTML = this.value" value={{ test.number_of_mazes }}><span>{{ test.number_of_mazes }}</span><br>
            <label for="number-of-solutions">Liczba przejść pojedynczego labiryntu dla każdego algorytmu przechodzenia:</label>
            <input type="range" id="number-of-solutions" name="number_of_solutions" min="5" max="50" step="5" oninput="this.nextSibling.innerHTML = this.value" value={{ test.number_of_solutions }}><span>{{ test.number_of_solutions }}</span><br>
            <label for="size">Wielkość labiryntów:</label>
            <select id="size" name="size">
                <option value="5" {{ 'selected' if test.size == 5 }}>5x5</option>
                <option value="10" {{ 'selected' if test.size == 10 }}>10x10</option>
                <option value="15" {{ 'selected' if test.size == 15 }}>15x15</option>
                <option value="20" {{ 'selected' if test.size == 20 }}>20x20</option>
            </select><br>
            <label class="label-center" for="generations">Algorytmy generacji:<br>(wybór wielokrotny - przytrzymaj CTRL)</label><br>
            <select id="generations" name="generations" multiple required>
                <option value="0" {{ 'selected' if "0" in test.generations }}>{{ names['generations'][0] }}</option>
                <option value="1" {{ 'selected' if "1" in test.generations }}>{{ names['generations'][1] }}</option>
                <option value="2" {{ 'selected' if "2" in test.generations }}>{{ names['generations'][2] }}</option>
                <option value="3" {{ 'selected' if "3" in test.generations }}>{{ names['generations'][3] }}</option>
            </select><br>
            <input type="checkbox" id="loops" name="loops" {{ 'checked' if test.loops }}>
            <label for="loops" id="checkbox-label">Usuń dodatkowe losowe ściany (dodaj pętle)</label><br><br>
            <label class="label-center" for="ais">Algorytm przechodzenia:<br>(wybór wielokrotny - przytrzymaj CTRL)</label><br>
            <select id="ais" name="ais" multiple required>
                <option value="0" {{ 'selected' if "0" in test.ais }}>{{ names['ais'][0] }}</option>
                <option value="1" {{ 'selected' if "1" in test.ais }}>{{ names['ais'][1] }}</option>
                <option value="2" {{ 'selected' if "2" in test.ais }}>{{ names['ais'][2] }}</option>
                <option value="3" {{ 'selected' if "3" in test.ais }}>{{ names['ais'][3] }}</option>
            </select><br>
            <input type="submit" value="Uruchom testy">
            <h3>Łączna liczba testów: <span id="number-of-tests">{{ test.number_of_mazes * test.number_of_solutions * test.generations|length * test.ais|length }}</span></h3>
        </form>
    </div>
    {% if test.results %}
        {% for generation, mazes in test.results.items() %}
            <table>
                <tr>
                    <th colspan="4">
                        <h1>{{ names['generations'][generation] }}</h1>
                    </th>
                </tr>
                <tr>
                {% for ai_id in test.ais %}
                    <th>
                        <h2>{{ names['ais'][ai_id|int] }}</h2>
                    </th>
                {% endfor %}
                </tr>
                <tr>
                {% for ai_id in test.ais %}
                    <th>
                        średnia: {{ test.stats[generation][ai_id|int]['avg'] }}<br>
                        liczba ruchów: {{ test.stats[generation][ai_id|int]['moves'] }}<br>
                        liczba testów: {{ test.stats[generation][ai_id|int]['len'] }}<br>
                        max: {{ test.stats[generation][ai_id|int]['max'] }}<br>
                        min: {{ test.stats[generation][ai_id|int]['min'] }}<br>
                        mediana: {{ test.stats[generation][ai_id|int]['med'] }}
                    </th>
                {% endfor %}
                </tr>
                {% for maze in mazes %}
                    <tr>
                    {% for ai, solutions in maze.items() %}
                        <td>
                        {% for solution in solutions %}
                            ({{ solution }})
                        {% endfor %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}