{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="panel visualisation-panel">
        <div class="legend">
            <h2>Legenda</h2>
            <p class="legend-row"><b class="cell-spawn legend-symbol">S</b> - pole startowe</p>
            <p class="legend-row"><b class="cell-end legend-symbol">E</b> - pole końcowe</p>
            <p class="legend-row"><b class="cell-visited-once legend-symbol">1</b> - pole odwiedzone raz</p>
            <p class="legend-row"><b class="cell-visited-many legend-symbol">2</b> - pole odwiedzone wiele razy</p>
        </div>
        <h1>Wizualizacja</h1>
        <form action="{{ url_for('generate') }}" method="post">
            <label for="size">Wielkość labiryntu:</label>
            <select id="size" name="size">
                <option value="5" {{ 'selected' if maze.size == 5 }}>5x5</option>
                <option value="10" {{ 'selected' if maze.size == 10 or not maze }}>10x10</option>
                <option value="15" {{ 'selected' if maze.size == 15 }}>15x15</option>
                <option value="20" {{ 'selected' if maze.size == 20 }}>20x20</option>
            </select><br>
            <label for="generation">Algorytm generacji:</label>
            <select id="generation" name="generation">
                <option value="0" {{ 'selected' if maze.generation == 0 }}>{{ names['generations'][0] }}</option>
                <option value="1" {{ 'selected' if maze.generation == 1 }}>{{ names['generations'][1] }}</option>
                <option value="2" {{ 'selected' if maze.generation == 2 }}>{{ names['generations'][2] }}</option>
                <option value="3" {{ 'selected' if maze.generation == 3 }}>{{ names['generations'][3] }}</option>
                <option value="4" {{ 'selected' if maze.generation == 4 }}>{{ names['generations'][4] }}</option>
            </select><br>
            <input type="checkbox" id="loops" name="loops" {{ 'checked' if maze.loops }}>
            <label for="loops" class="checkbox-label">Usuń dodatkowe losowe ściany (dodaj pętle)</label><br>
            <input type="submit" value="Generuj nowy labirynt">
        </form>
        {% if maze %}
            <br>
            <form action="{{ url_for('solve') }}" method="post">
                <label for="ai">Algorytm przechodzenia:</label>
                <select id="ai" name="ai">
                    <option value="0" {{ 'selected' if maze.ai == 0 }}>{{ names['ais'][0] }}</option>
                    <option value="1" {{ 'selected' if maze.ai == 1 }}>{{ names['ais'][1] }}</option>
                    <option value="2" {{ 'selected' if maze.ai == 2 }}>{{ names['ais'][2] }}</option>
                    <option value="3" {{ 'selected' if maze.ai == 3 }}>{{ names['ais'][3] }}</option>
                    <option value="4" {{ 'selected' if maze.ai == 4 }}>{{ names['ais'][4] }}</option>
                </select><br>
                <input type="submit" value="Przejdź labirynt">
            </form>
            <h3>liczba ruchów: {{ maze.moves }}</h3>
            {% if maze.moves %}
                <a href="{{ url_for('clear') }}"><button>Wyczyść labirynt</button></a>
            {% endif %}
        {% endif %}
    </div>
    <div class="maze">
        {% if maze %}
            {% for y in range(maze.size)|reverse %}
                {% for x in range(maze.size) %}
                    <div class="{% if maze.size == 5 %}cell-5 {% elif maze.size == 15 %}cell-15 {%
                            elif maze.size == 20 %}cell-20 {% else %}cell-10 {% endif %}{%
                            if not maze.cells[x][y].walls['top'] %}top-empty {% endif %}{%
                            if not maze.cells[x][y].walls['bottom'] %}bottom-empty {% endif %}{%
                            if not maze.cells[x][y].walls['left'] %}left-empty {% endif %}{%
                            if not maze.cells[x][y].walls['right'] %}right-empty {% endif %}{%
                            if x == maze.spawn[0] and y == maze.spawn[1] %}cell-spawn{%
                            elif x == maze.end[0] and y == maze.end[1] %}cell-end{%
                            elif maze.cells[x][y].visited > 1 %}cell-visited-many{%
                            elif maze.cells[x][y].visited == 1 %}cell-visited-once{% endif %}">
                        {% if maze.cells[x][y].visited %}{{ maze.cells[x][y].visited }}{% endif %}<br>
                        {% if x == maze.spawn[0] and y == maze.spawn[1] %}S{% elif x == maze.end[0] and y == maze.end[1] %}E{% endif %}<br>
                    </div>
                {% endfor %}
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}